body{
    text-align: center;
}
ul{
    text-decoration: none;
}
li{
    text-decoration: none;
}
#card{
    border: 5px groove gold;
}
#card1{
    border: 5px groove red;
}
#card2{
    border: 5px groove green;
}
