body{
    text-align: center !important;
}
ul{
    list-style-type: none;
    text-transform:capitalize;
}

#card{
    border: 5px groove black ;
    width:300px;
    margin:15px;
    background-color: rgb(255, 196, 3);
    text-align: center;
}
#card1{
    border: 5px groove black;
    width:300px;
    margin:15px;
    background-color: rgb(255, 196, 3);
    text-align: center;
}
#card2{
    border: 5px groove black;
    width:300px;
    margin:15px;
    background-color:rgb(255, 196, 3);
    text-align: center;
}

#cardz{
    display: flex;
    text-align: center;
    margin-left: 20%;
}
.card-pic{
    border: 2px solid black ;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-image: url("https://i.ytimg.com/vi/jX8liqmebWk/maxresdefault.jpg");
}
h1{
    text-transform:capitalize;
}
.pkmnPic{
    height: 300px;

}
p{
    text-transform:capitalize;
}