body{
    text-align: center;
}
ul{
    list-style-type: none;
}
li{
    text-decoration: none;
}
#card{
    border: 5px groove gold;
    width:300px;
    margin:15px;
}
#card1{
    border: 5px groove red;
    width:300px;
    margin:15px;
}
#card2{
    border: 5px groove green;
    width:300px;
    margin:15px;
}

#cardz{
    display: flex;
}